@import "tailwindcss";

@font-face {
  font-family: 'CSAvva';
  src: url('/fonts/CSAVVAS0.ttf') format('truetype');
}

@font-face {
  font-family: 'Athanasius';
  src: url('/fonts/ATHANAS0.ttf') format('truetype');
}